<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} | Blog Personal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/estilos.css' %}">
</head>
<body>
    <div id="container">
        <header>
            <h1>BIENVENIDOS A MI BLOG PERSONAL</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/form">Form</a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>
        <section id="content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime repudiandae repellendus laudantium, ullam vel maiores, quaerat nostrum sequi officiis eos quo vitae fugiat error perferendis aspernatur eligendi aperiam dolores ea.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea commodi magni nobis provident accusantium? Vel quod quae laborum maxime veniam harum nobis illo sint, et atque quo similique, mollitia incidunt.</p>
        </section>
           
        <aside>
            <h2>Etiquetas</h2>
            <form action="#">
                <input type="text">
                <input type="submit" value="Buscar" style="font-size: 21px;">
            
            </form>
            <h2>Nuevos métodos en la Programación Orientada a Objetos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero sed veritatis inventore? Consequuntur, optio!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolore ea doloremque aperiam, impedit ad.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt rem dolorum possimus est eaque odio.</p>
        </aside>
        <div class="clearfix"></div>
        <footer>
            <p class="pie">Blog Personal - Sitio web hecho por Gustavo - Fabián - Yamila  -Daira - Federico - Pedro &copy;</p>
        </footer>
    </div>
    
</body>
</html>